
.container{
  width: 300px;
  height: 400px;
  border: 1px solid black;
  border-radius: 5px;
}
.zurag{
  width: 300px;
  height: 60%;
}
.name{
  margin: 5px 0px 0px 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.containerJob{
  display: flex;
  justify-content: space-between;
margin: 0px 15px 0px 15px;
}
.job{
  font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.email{
  font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px 0px 20px 10px;
}
.maincontainer{
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}